.alert.alert-danger ul {
    margin-bottom: unset;
}

#toast-container > div{ 
    opacity: 1;
    border: unset;
}

.table td {
    vertical-align: middle!important;
}

.btn-product {
 
    width: 50%;
    margin-bottom: 10px;
    
}

input.form-control {
    color: #000!important;
}

#row-persentase, #row-nominal {
    display:none;
}

