
@media (min-width:1080px){
    .my-slider .skdslider {
        height: 468px;
    } 
    
}

.agile_top_brands_grids .col-md-4 {
    margin-bottom: 25px;
}

p.w3l-ad {
    width:100%!important;
}



@media (max-width:980px){
    .skdslider ul li img {
        transform: scale(4.6);
    }
    #loginModal .modal-dialog {
        width: 90%!important;
    }
    #registerModal .modal-dialog {
        width: 90%!important;
    }
}

.like-icon i {
    font-size: 40px;
    cursor: pointer;
}
.like-icon i.liked {
    color: crimson;
}
.home-about {
    padding-top: 130px!important;
}
.container.home-about,
.container.home-service {
    background: white;
}
.container.home-about p,
.container.home-service p {
    margin-top: 20px;
    text-align: center;
}

.like-el {
    text-align: left;
    margin-bottom: 20px;
}

.liked-row {
    border: 1px solid #fe9126;
    border-radius: 5px;
    margin-bottom: 20px;
}
.liked-row .item-price span {
    display: block;
    text-decoration: line-through;
    margin: 10px 0;
}
.liked-row h4.item-price {
    margin-top: 10px;
    font-weight: 400;
}

.snipcart-details .button, .snipcart-details .like-icon {
    padding: 7px 10px!important;
}

.row.service-content {
    text-align: center;
    margin-top: 40px;
}

.service-icon {
    margin-top: 15px;
    font-size: 60px;
    color: #fe9126;
}

a.trigger-modal {
    cursor: pointer;
}

#loginModal .modal-dialog {
    width: 35%;
}

.row.login-page {
    padding-top: 19px;
    padding-bottom: 21px;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fe9126;
    border-radius: 5px;
    margin-top: 7em;
    margin-bottom: 7em;
}

.row.login-page h3 {
    text-align: center;
    padding-bottom: 24px;
    font-weight: 400;
    border-bottom: 1px solid #fe9126;
    margin-bottom: 23px;
}

.no-like {
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
    font-size: 20px;
}

a.register-link {
    font-size: 13px;
    font-weight: 400;
    text-decoration: underline;
    margin-left: 10px;
}

.container.register-page {
    margin-top: 4em;
    margin-bottom: 4em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tab-barang ul {
    padding-left: 20px;
}
.tab-barang p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.like-item {
    padding: 15px 20px;    
}

.like-item .snipcart-details input.button {
    width: auto;
}

.like-item .snipcart-details {
    margin-left: 0!important;
}

.like-item img {
    max-width: 100px;
    margin-left: 25%;
}

.numbering li.page-item.active span {
    background: #fe9126;
    border-color: #fe9126;
}

span.category {
    display: block;
    margin-bottom: 20px;
}

ol.breadcrumb li:last-child {
    color: #777;
}
ol.breadcrumb li:nth-child(2) {
    display: none;
}

h4.category-page {
    margin-bottom: -8px;
    margin-left: 16px;
}


.client-error ul {
    padding-left: 20px;
}

.product_list_header {
    margin-left: auto;
}

.logged-in {
    position: relative;
}

.logged-in a {
    color: white;
    right: 0;
    z-index: 99;
    padding: 22px 10px 18px;
}

.logged-in a:hover {
    background: #4f4f4f;
}

.user-profile ul li {
    list-style: none;
    /* display: block; */
}

.header-cont {
    display: flex;
    align-items: center;
}

.user-profile ul li a:hover,
button.btn.btn-logout:hover {
    background: #c2c2c2;
}
.user-profile ul li a {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 400;
    color: #000;
    border-bottom: 1px solid white;
}
.user-profile {
    background: #f1f1f1;
    position: absolute;
    width: 200px;
    top: 50px;
    right:0;
    z-index: 99;
    display: none;
}

button.btn.btn-logout {
    width: 100%;
    text-align: left;
    padding-left: 23px;
    background: unset;
}

@media screen and (max-width:640px){
    .logged-in a{
        top: 30px;
        padding-top: 11px;
        padding-bottom: 12px;
    }

    .user-profile {
        top: 80px;
    }
    .profile-page .col-md-6 {
        padding: 20px 20px;
    }
}


.profile-page h2 {
    padding-bottom: 30px;
}

.profile-page {
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile-page .col-md-6 {
    float: unset;
    margin: auto;
    border: 1px solid #fe9126;
    border-radius: 5px;
    padding: 50px 40px;
}

h2.form-section{
    margin-top: 20px;
    margin-bottom: 20px;
}
.products .agile_top_brands_grids {
    margin-top: unset!important;
}

.progress-order i.fa {
    display: inline-block;
    border-radius: 50px;
    padding: 0.5em 0.5em;
    border: 5px solid;
}

.progress-order i.fa {
    font-size: 41px;
}

.progress-order .row {
    text-align: center;
}

.text-progress {
    margin-top: 20px;
    font-size: 14px;
}

.icon-progress {
    color: #e0e0e0;
}

.btn-danger {
    background-color: #d9534f!important;
    border-color: #d43f3a!important;
}

.btn-danger:hover {
    background-color: #c9302c!important;
    border-color: #ac2925!important;
}

.checkout-right form {
    display: inline-block;
}

.success .icon-progress, .success .text-progress{
    color: lightgreen;
}

.col-md-2.process, .col-md-2.process .icon-progress {
    color: #d39f2e;
}


.my-carousel .item > p {
    position: absolute;
    color: white;
    text-align: center;
    width:100%;
}

.my-carousel .item > p {
    position: absolute;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: 300;
    font-style: italic;
}

.carousel-indicators {
    left: 50%!important;
    transform: translateX(-50%);
}

span.discount-badge {
    font-size: 12px;
    background: #fe9126;
    color: white;
    padding: 0.4em;
}

.column div.agile_top_brand_left_grid {
    height: 100%;
    min-height: 390px;
}
.snipcart-details {
    justify-content: center;
}

.detail-diskon-badge {
    margin-bottom: 10px;
    background: #fe9126;
    display: inline-block;
    padding: 0.5em;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}

.detail-price h4 span {
    display: block;
    padding-left: 0;
    margin-top: 20px;
}

.detail-price h4 {
    text-align: left;
    font-size: 23px;
    margin-top: 20px;
}
@media screen and (max-width:940px) {
    .my-carousel .item > p {
        font-size:18px;
    }
}

@media screen and (max-width:640px) {
    .my-carousel .item > p {
        font-size:14px;
    }
    .detail-price h4 {
        font-size: 18px;
    }
}
@media screen and (max-width:415px) {
    .my-carousel .item > p {
        font-size:13px;
    }
    .detail-price h4 {
        font-size: 16px;
    }
}